@page
@using SWD392_Project.Models
@model SWD392_Project.Pages.Medicine.ListMedicineModel
@{
    Layout = "_LayoutAdmin";
}
<!-- Button trigger modal create Medicine -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#createGradeModal">
    Create Grade
</button>

<!-- Modal Create Medicine -->
<div class="modal fade" id="createGradeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form asp-page-handler="CreateMedicine" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Semester</h5>
                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Medicine Name</p>
                    <input type="text" name="medicineName" class="w-100" />
                    <br />
                    <p>Category</p>
                    <select id="category" name="categoryId">
                        <option value="">All</option>
                        @foreach (CategoryMedicine category in Model.categoryMedicines)
                        {
                            <option value="@category.CategoryMedicineId">@category.CategoryMedicineName</option>
                        }
                    </select>
                    <p>Quantity</p>
                    <input type="number" name="medicineQuantity" class="w-100" />
                    <br />
                    <p>Unit</p>
                    <input type="text" name="medicineUnit" class="w-100" />
                    <br />
                    <p>Description</p>
                    <input type="text" name="medicineDescription" class="w-100" />
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#runOutMedicine">
    Check medicine list about to run out
</button>
<!-- Modal Notify Run Out Medicine -->
<div class="modal fade" id="runOutMedicine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Medicine List is About to Run Out</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Medicine Name</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.runOutMedicines)
                        {
                            <tr>
                                <td>@item.MedicineName</td>
                                <td>@item.CategoryMedicine.CategoryMedicineName</td>
                                <td>@item.Quantity</td>
                                <td>@item.Unit</td>
                                <td>@item.Description</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


